<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mappers 注解扫描dao层进行数据库的增删改查 -->
	<mappers>
		<mapper class="com.hnrp.bbs.dao.CommentDao"/>
		<mapper class="com.hnrp.bbs.dao.TopicDao"/>
		<mapper resource="com/hnrp/bbs/mappers/postMap.xml"/>
	</mappers>
</configuration>